[submodule "libs/crypto/hash"]
	path = libs/crypto/hash
	url = git@github.com:nilfoundation/hash.git
[submodule "libs/crypto/block"]
	path = libs/crypto/block
	url = git@github.com:nilfoundation/block.git
