[submodule "libs/crypto/hash"]
	path = libs/crypto/hash
	url = git@github.com:nilfoundation/hash.git
[submodule "libs/crypto/block"]
	path = libs/crypto/block
	url = git@github.com:nilfoundation/block.git
[submodule "libs/actor"]
	path = libs/actor
	url = git@github.com:nilfoundation/actor-core.git
[submodule "libs/network"]
	path = libs/network
	url = git@github.com:nilfoundation/actor-network.git
[submodule "libs/opencl"]
	path = libs/opencl
	url = git@github.com:nilfoundation/actor-opencl.git
